<p style="font-size:1.25em"><strong>Mobile Application Privacy Policy</strong></p><br/>
<p><strong>ATTOLLO TECHNOLOGY LLC, D/B/A UPACE ("UPACE," “we,” “our” or “us”) has created this statement
    to describe its information gathering and privacy practices related to your use of the mobile
    application offered as “UPACE” (“Application”). We are sensitive to the private nature of
    information you provide to us over the Internet and through your use of the Application. This
    mobile application privacy policy (“Mobile Privacy Policy”) is designed to maximize your ability
    to protect your personal information, while at the same time permit us to provide you the
    opportunity to obtain interesting and useful information, products and services. Because this
    Mobile Privacy Policy applies to any person who downloads, installs, or uses the Application, we
    strongly urge you to review this Mobile Privacy Policy in its entirety. By downloading,
    installing, or using the Application, you accept and agree to be bound by this Mobile Privacy
    Policy and any other applicable terms, and you consent to the processing of your information as
    set forth in this Mobile Privacy Policy.</strong></p><br/>
<p><strong>OUR COLLECTION OF YOUR INFORMATION</strong></p><br/>

<p>We or our authorized service providers may collect and store some or all of the following
    information, in order to enable you to use the Application and receive information, products, or
    services available through the Application, and to permit us to respond to your inquiries or
    requests for products and services:</p><br/>
<p>• Device Information and Usage Information</p><br/>
<p>• Geolocation</p><br/>
<p>1. Device Information</p><br/>

<p>The Application may collect certain information automatically when you download, connect to or use
    the Application. Such information may include the type of mobile device you use, your mobile
    device’s unique device identifier, the IP address of your mobile device, and information about the
    way you use the Application. UPACE and/or its authorized service providers may receive such
    information and use it to operate and improve the Application and to deliver services and content,
    including push notifications. We obtain your consent before delivering push notifications to you
    through the Application. Information about how you interact with the Application and any of our web
    sites to which the Application links, such as how many times you use a specific part of the mobile
    application over a given time period, the amount of time you spend using the Application, how often
    you use the Application, actions you take in the Application and how you engage with the
    Application.</p><br/>

<p>2. Geolocation</p><br/>

<p>We obtain your consent before collecting location information. Location information enables the
    Application to establish the approximate location of your mobile device. UPACE and/or its authorized
    service providers may use and store this information, in combination with other location-based
    information (such as IP address), to provide requested location services (e.g., identification of
    nearby theatres) and to deliver enhanced location based services and other content, including push
    notifications. You may withdraw your consent at any time to the collection of your location
    information and/or to receive push notifications (see “Opt-Out Procedures” below).</p><br/>

<p>In addition, we also collect the following to provide the services:</p><br/>
<p>-Name</p><br/>
<p>-Email</p><br/>
<p>-Phone number</p><br/>
<p>-University</p><br/>
<p>-Member type </p><br/>
<p>-Occupancy </p><br/>
<p>-Password</p><br/>
<p>-Equipment reservations</p><br/>
<p>-Class reservations</p><br/>
<p>-Feedback, if provided </p><br/>
<p>-Usage information</p><br/>

<p>Information Collected from Job Applicants</p><br/>

<p>If you wish to apply for a job on our web site(s), we will collect Personal Information such as your
    name, email address, phone number and may collect additional information such as resume, gender, and
    your ethnicity. We use the information collected within this area of the web site(s) to determine
    your qualifications for the position in which you have applied and to contact you to set up an
    interview.</p><br/>
<p><strong>OUR USE OF YOUR INFORMATION</strong></p><br/>

<p>As a general matter, we seek to use information collected through the Application to enhance the
    experience of users of our services. We (including our affiliates and authorized service providers)
    may use this information in a number of ways, including:</p><br/>

<p>• To furnish you with products or services you have requested, or to send you information or
    otherwise contact you about UPACE, or its affiliates, their products, services, advertising,
    upcoming events, special offers or promotions, text messages, or for other purposes disclosed when
    you submit your information by using the Application. </p><br/>

<p>• To assist us in marketing and advertising our products and services and those of other
    businesses.</p><br/>

<p>• To improve the content and functionality of the Application. </p><br/>

<p>• To prevent and detect fraud, infringement, and other potential misuse of the Application. </p><br/>

<p>• In order to provide you with products and services you have requested, we may share your
    information, including personally identifiable information or information we maintain on an
    aggregate basis, with third parties who provide services to UPACE and its affiliates, such as credit
    card processing, customer services, order fulfillment, and/or prize delivery, as
    applicable.</p><br/>

<p>• To create aggregated and anonymized information to determine which Mobile Application features are
    most popular and useful to users, and for other statistical analyses.</p><br/>

<p>• To prevent, discover and investigate violations of this Privacy Policy </p><br/>

<p>• To customize the content or services on the Application for you, or the communications sent to you
    through the Application</p><br/>

<p><strong>TEXT MESSAGING</strong></p><br/>
<p>By opting in to receive text messages, you agree that UPACE may send you marketing text or e-mail
messages at that telephone number using an automatic telephone dialing system. These messages may
include Short Message Service (“SMS”) messages.</p><br/>

<p><strong>CHILDREN'S GUIDELINES</strong></p><br/>

<p>UPACE does not specifically target the Application or any of its mobile services to children under 18
    years old. If you are under the age of 18 and a registered college student, you may use the
    Application only with the permission and under the supervision of a parent or guardian. If a parent
    or guardian becomes aware that his or her child has provided us with information without their
    consent, he or she should contact us.</p><br/>

<p>Please note that the Application may contain links to content providers that collect information from
    children under the age of 18. We have no control over such content providers and are not responsible
    for the privacy practices or the content of other web sites or mobile applications. Because the
    Internet and mobile applications offer open access to a wide range of information, it is important
    that parents supervise and prevent access to inappropriate content, email or chat
    sessions. </p><br/>

<p><strong>TRACKING, DISCLOSURE AND SHARING OF INFORMATION </strong></p><br/>

<p>We may disclose your Device and Physical Location:</p><br/>

<p>• As provided in this Mobile Privacy Policy; </p><br/>

<p>• As required by law, such as to comply with a subpoena, or similar legal process; </p><br/>

<p>• When we believe in good faith that disclosure is necessary to protect our rights, protect your
    safety or the safety of others, investigate fraud or respond to a government request;</p><br/>

<p>• With our authorized service providers who have agreed to adhere to the rules set forth in this
    Mobile Privacy Policy; </p><br/>

<p>• If UPACE is involved in a merger, acquisition or sale of all or a portion of its assets </p><br/>

<p>We do not share information with third parties for their direct marketing purposes unless you
    affirmatively agree to such disclosure - typically by opting in to receive information from a third
    party that is participating in a sweepstakes or other promotion that we advertise through the
    Application or on one of our web sites. If you do not want your information to be used by a third
    party for direct marketing purposes (or other purposes unrelated to the uses described herein), do
    not opt in to such use by that third party. Please note that if you opt in to receive direct
    marketing from a third party, your information will be subject to that party’s privacy policy. If
    you later decide that you do not want that third party to use your information, you will need to
    contact that third party directly. We recommend that you review the privacy policy of any party that
    collects your information to determine how that entity will handle your information.</p><br/>

<p>The Application may use third party authorized service providers to provide us with analytical data
    about your use of the Application. We may deploy devices, such as cookies, that enable those third
    parties to anonymously collect and aggregate usage data and report it back to us. Third parties that
    we engage to provide analytics services and to assist in providing the Application’s tools and
    services cannot use your personal information for their own purposes, unrelated to the Application,
    without your explicit consent </p><br/>

<p><strong>THIRD-PARTY SITES</strong></p><br/>

<p>The Application contains links to web sites and other applications that provide services related to
    the Application (such as payment processing services and university information websites) or that we
    believe you might find useful and informative. Also, the Application may utilize social networking
    sites that are not owned or controlled by UPACE. Please be aware, however, that UPACE does not
    endorse or recommend the content or services of such web sites or applications, and UPACE is not
    responsible for the privacy practices or the content of these other sites. We encourage you to
    review the privacy policies of each web site and application you visit and use.</p><br/>

<p><strong>SECURITY</strong></p><br/>

<p>UPACE will maintain appropriate safeguards to protect against the loss, misuse, and alteration of any
customer information under UPACE’s control. Please be aware that the transmission of information over
wireless and wired networks is not inherently secure, and, although we endeavor to provide reasonable
security measures, no security systems can prevent all potential security breaches.</p><br/>

<p><strong>OPT-OUT PROCEDURES</strong></p><br/>

<p>You can stop all collection of information by the Application by uninstalling the Application from
    your mobile device. You may use the standard uninstall processes as may be available as part of your
    mobile device or via the mobile application marketplace or network.</p><br/>

<p>You can also withdraw your consent to receive “push” notifications and/or to the collection of your
    physical location information at any time by disabling or changing the related functionality or
    setting as provided in your mobile device. </p><br/>

<p><strong>POLICY MODIFICATIONS</strong></p><br/>

<p>We reserve the right to change the terms of this Mobile Privacy Policy from time to time.</p><br/>
