<header>
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="col-xs-2">
            <center><a href="/">
                    <div class="navchev">
                        <i class="fa fa-angle-left" style="font-size: 2.6em; line-height: 0.35em; margin-left: -0.2em; margin-top: 0.15em;"></i>
                    </div>
                </a></center>
        </div>
        <div class="col-xs-8">
            <center>
                <span class="navbar-reserve">{{ title }}</span>
                <span>&nbsp;|&nbsp;</span>
                <span class="navbar-date" id="header-active-date">
                    <!-- populated via js -->
                </span>
            </center>
        </div>
        <div class="col-xs-2">
            <center>
                <a href="#" id="navToggle">
                    <div class="navfabar slide">
                        <i class="fa fa-bars" style="font-size: 1.3em; line-height: 1.5em;"></i>
                    </div>
                </a>
            </center>
        </div>
    </div>
</header>
