<section class="upace-date content slide">
    <div class="upace-date-slide">
        <div class="owl-date" id="classes-date-slider">
            <!-- dates populated via js -->
        </div>
    </div>
</section>

<script id="date-scroller-item" type="text/x-twig-template">
    {{ source('./partials/date-scroller-item.twig') }}
</script>