<div id="radioformset">
    <label class="radioform">
        <input type="radio" name="universityGymId" value="{{ id }}"
               data-label="{{ name }}" />
        <span>{{ name }}</span>
    </label>
</div>