<a class="land-ondeck-item">
    <div class="ondecksequence">
        <div class="ondecktime">{{ startTime }}</div>
        <div class="ondeckdate">{{ date }}</div>
        <div class="ondeckgear">{{ name }}</div>
        {% if roomName %}
        <div class="ondeckroom">{{ roomName }}</div>
        {% endif %}
    </div>
</a>
