<div class="land-other-gym-item" data-gym-id="{{ gymId }}">
    <div class="land-other-gym-perc land-other-gym-perc-{{ percColor }}">{{ perc }}%</div>
    <div class="land-other-gym-name">{{ gymName }}</div>
</div>
