<div class="modal fade" id="reserve-modal" tabindex="-1" role="dialog" aria-labelledby="Details"
     aria-hidden="true" style="background:#000">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="reserve-modal-item-details">
                <!-- populated via js -->
            </div>
        </div>
    </div>
</div>

<script id="listing-item-details-template" type="text/x-twig-template">
    {{ source('./partials/listing-item-details.twig') }}
</script>
