<section class="upace-form content slide collapse" id="collapse-add-time">
    <div class="container listing-enter-time">
        <div class="col-xs-6 col-sm-7 formcol-height">
            <center><span class="formcol-1">Enter a Start Time</span></center>
        </div>
        <div class="col-xs-6 col-sm-5 formcol-height formcol-2ab">
            <form class="listing-enter-time-form" action="#">
                <div class="col-xs-12">
                    <input type="text" class="form-add-time listing-enter-time-form-input" maxlength="8" placeholder="00:00 AM" />
                </div>
            </form>
        </div>
    </div>
</section>
