<p>PLEASE READ THIS MOBILE APPLICATION TERMS OF USE AGREEMENT ("AGREEMENT") CAREFULLY BEFORE
    DOWNLOADING, INSTALLING, OR USING THE ATTOLLO TECHNOLOGY LLC, D/B/A UPACE (“UPACE”), MOBILE
    APPLICATION (“APPLICATION”). BY DOWNLOADING, INSTALLING, OR USING THE APPLICATION YOU
    ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND THIS AGREEMENT, AND THAT YOU AGREE TO BE BOUND BY
    ITS TERMS AND CONDITIONS.</p>
<br/>
<p>This Agreement sets forth the terms of use for the Application. UPACE reserves the right to
    change, modify, add, or remove portions of this Agreement at any time. Such changes, revisions
    or modifications shall be effective immediately upon notice to you, which may be given by any
    means including, without limitation, via posting within the “MY ACCOUNT” section of the
    Application. Your continued use of the Application after such notice shall be deemed to
    constitute acceptance of such changes, revisions or modifications.</p>
<br/>
<p><strong>LICENSE; SCOPE OF USE</strong></p>

<p>Subject to the terms and conditions of this Agreement, UPACE grants you a limited,
    non-transferable, revocable license to view, use and download a single copy of the Application
    for your informational, personal, non-commercial use (the “License”) on any device that you own
    or control and as permitted by the Usage Rules set forth in the Apple App Store Terms and
    Conditions and/or any other mobile application store including, without limitation, Google pay
    for android platforms (the “Usage Rules”). The License does not allow you to use the Application
    on any device that you do not own or control, and you may not distribute or make the Application
    available over a network where it could be used by multiple devices at the same time. You may
    not rent, lease, lend, sell, redistribute or sublicense the Application. You may not copy
    (except as expressly permitted, if at all, by this Agreement and the Usage Rules), decompile,
    reverse engineer, disassemble, attempt to derive the source code of, modify, or create
    derivative works of the Application, any updates, or any part thereof (except as and only to the
    extent any foregoing restriction is prohibited by applicable law). Any attempt to do so is a
    violation of the rights of UPACE or its licensors. You may not use this Application for any
    purpose (a) which would be contrary to UPACE’s business interest, or (b) to UPACE’s actual or
    potential economic disadvantage in any respect, including using the Application to develop a
    competing application. All rights not specifically and expressly granted under the License are
    reserved by UPACE.</p>
<br/>
<p>The Application is licensed, not sold. The License confers no title to or ownership in the
    Application and should not be construed as a sale of any rights in or to the Application. UPACE
    may terminate, change, suspend, or discontinue any aspect of the Application, including the
    availability of any features of the Application, at any time and in UPACE’s sole
    discretion.</p>
<br/>
COMPLIANCE WITH LAWS
<p>You agree to comply with all laws, rules and regulations applicable to your use of the
    Application. </p><br/>
<p><strong>TRADEMARKS</strong></p>

<p>"UPACE Marks" means all trademarks, service marks and other commercial symbols used in connection
    with UPACE's or its affiliates' business. All UPACE Marks are the exclusive property of UPACE,
    its affiliates or third-party licensors. This Agreement does not authorize you to use any UPACE
    Mark, and you agree not to use any UPACE Mark in any manner without the prior written consent of
    UPACE, which consent may be withheld in the sole discretion of UPACE. Unauthorized use of any
    UPACE Mark may be a violation of federal and state trademark laws.</p><br/>
<p><strong>COPYRIGHT</strong></p>

<p>The Application is protected by U.S. copyright laws and international treaties. All materials
    contained in the Application are the copyrighted property of UPACE or its affiliates or
    third-party licensors. Except for your informational, personal, non-commercial use as authorized
    above, you may not use, modify, reproduce, distribute, transmit, republish or display the
    content, design or layout of the Application, or any components thereof, without the express
    written permission of UPACE.</p><br/>
<p><strong>LINKS TO THIRD PARTY WEBSITES</strong></p>

<p>The Application may contain links to other websites that provide services related to the
    Application (such as payment processing services and university information) or that you may
    find useful and informative. Also, the Application may utilize social networking sites. These
    other websites are not under the control of UPACE, and you acknowledge and agree that UPACE is
    not responsible for the accuracy, copyright compliance, legality, decency, or any other aspect
    of such websites. The inclusion of such a link does not imply endorsement of the website by
    UPACE or any association with its operators, and UPACE disclaims all liability with respect to
    such linked websites, including but not limited to your access to and/or use of the
    same.</p><br/>
<p><strong>THIRD PARTY SERVICE PROVIDERS</strong></p>

<p>In addition, the Application may use third party authorized service providers to provide UPACE
    with services related to your use of the Application, including payment processing services, if
    any, and facility information. By downloading, installing and using the Application, you
    acknowledge and agree that any reservations, purchases or other arrangements you make through
    the Application, and any interactions you have with any such authorized providers of the
    Application’s operation and functionality, will be subject to and treated in accordance with the
    terms of use and privacy policies of such authorized service providers, which policies may be
    available to you by such third parties. UPACE strongly urges you to review all such policies
    before making any reservations, purchases or other arrangements through the Application or
    otherwise interacting with a third party service provider. UPACE disclaims any and all liability
    relating to third party service providers and their services.</p><br/>
<p><strong>YOUR PROVISION OF PERSONAL INFORMATION TO UPACE</strong></p>

<p>When you provide information about yourself to UPACE, you agree to: (a) provide accurate,
    current, and complete information about yourself; and (b) maintain and promptly update such
    information to keep it accurate, current and complete. If you provide any information that is
    untrue, inaccurate, or incomplete, or UPACE has reasonable grounds to suspect that such
    information is untrue, inaccurate, or incomplete, UPACE has the right to suspend or terminate
    any account you establish in connection with your use of the Application and refuse any and all
    current or future use of the Application or any portion thereof.</p><br/>
<p><strong>USER CONTENT ON THE APPLICATION</strong></p>

<p>You understand that all information, data, or other materials that are posted on or transmitted
    in connection with the Application by you or another user ("User Content") are the sole
    responsibility of the person from whom such User Content originated. This means that you, and
    not UPACE, are responsible for all User Content that you upload, post, email, transmit or
    otherwise make available in connection with the Application. UPACE does not control the User
    Content posted and, as such, does not guarantee the accuracy, integrity or quality of such User
    Content. You understand that by using the Application, you may be exposed to User Content that
    is inaccurate, disingenuous, offensive, indecent or objectionable. Under no circumstances will
    UPACE be liable in any way for any User Content, including, but not limited to, for any errors
    or omissions in any User Content, or for any loss or damage of any kind incurred as a result of
    the use of any User Content posted, emailed, transmitted or otherwise made available in
    connection with the Application.</p><br/>
<p><strong>YOUR CONDUCT</strong></p>

<p>In connection with your use of the Application, you agree not to:</p><br/>
<p>1. Upload, download, copy, post, email, transmit or otherwise make available any User Content
    that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar,
    obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise
    objectionable; or harms minors in any way;</p><br/>
<p>2. Impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation
    with a person or entity;</p><br/>
<p>3. Forge headers or otherwise manipulate identifiers in order to disguise the origin of any User
    Content transmitted in connection with the Application;</p><br/>
<p>4. Upload, download, copy, post, email, transmit or otherwise make available any User Content
    that you do not have a right to make available under any law or under contractual or fiduciary
    relationships (such as inside information, or proprietary and confidential information learned
    or disclosed as part of employment relationships or under nondisclosure agreements);</p><br/>
<p>5. Upload, download, copy, post, email, transmit or otherwise make available any User Content
    that infringes any patent, trademark, trade secret, copyright, right of publicity, or other
    proprietary right of any party;

<p>6. Upload, download, copy, post, email, transmit or otherwise make available any unsolicited or
    unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid
    schemes," or any other form of solicitation;</p><br/>
<p>7. Upload, download, copy, post, email, transmit or otherwise make available any material that
    contains software viruses or any other computer code, files or programs designed to interrupt,
    destroy or limit the functionality of any computer software or hardware or telecommunications
    equipment;</p><br/>
<p>8. Interfere with or disrupt the operation of the Application or servers or networks connected to
    the Application, or disobey any requirements, procedures, policies or regulations of networks
    connected to the Application; or </p><br/>
<p>9. Collect, copy, transmit, or store personal data about other users.</p><br/>
<p>Although UPACE does not pre-screen User Content, UPACE has the right, but not the obligation, to
delete or move any User Content for any reason. Without limiting the foregoing, UPACE has the right
to remove any User Content that violates this Agreement.</p><br/>
<p><strong>YOUR GRANT OF LIMITED LICENSE</strong></p>

<p>By posting or submitting User Content to the Application, you grant UPACE and its affiliates the
    right to use, reproduce, display, perform, adapt, modify, distribute, have distributed, and
    promote the User Content in any form, anywhere and for any purpose, subject to UPACE's Privacy
    Policy. You represent and warrant that you own or otherwise control all rights in and to any
    such User Content, and that public posting and use of your User Content by UPACE will not
    infringe or violate the rights of any third party.</p><br/>
<p><strong>REGISTRATION AND PASSWORDS</strong></p>

<p>The Application may permit or require you to register or obtain a password prior to permitting
    access to certain products or services available through the Application. You acknowledge and
    agree that you are responsible for maintaining the confidentiality of your registration
    information and password, and for all uses of your password.</p><br/>
<p><strong>DISCLAIMER OF WARRANTIES</strong></p>

<p>THE APPLICATION AND ALL MATERIALS, INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR
    AVAILABLE THROUGH THE APPLICATION ARE PROVIDED "AS IS" AND "AS AVAILABLE" FOR YOUR USE. THE
    APPLICATION AND ALL MATERIALS, INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR
    AVAILABLE THROUGH THE APPLICATION ARE PROVIDED WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR
    IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, OR NONINFRINGEMENT. UPACE AND ITS AFFILIATES DO NOT WARRANT THAT THE
    MATERIALS, INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE
    APPLICATION ARE ACCURATE, RELIABLE OR CORRECT; THAT THE APPLICATION WILL BE AVAILABLE AT ANY
    PARTICULAR TIME OR LOCATION; THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE
    APPLICATION IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOUR USE OF THE APPLICATION IS AT
    YOUR SOLE RISK. BECAUSE SOME JURISDICTIONS DO NOT PERMIT THE EXCLUSION OF CERTAIN WARRANTIES,
    THESE EXCLUSIONS MAY NOT APPLY TO YOU.</p><br/>
<p><strong>LIMITATION OF LIABILITY</strong></p>

<p>UNDER NO CIRCUMSTANCES SHALL UPACE OR ITS AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT,
    PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED
    WITH THE USE OF, OR INABILITY TO USE, THE APPLICATION. THIS LIMITATION APPLIES WHETHER THE
    ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR OTHER LEGAL
    THEORY, EVEN IF UPACE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN THE EVENT SOME
    JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES,
    UPACE'S LIABILITY IN SUCH JURISDICTIONS SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW. TO THE
    EXTENT, IF ANY, THAT YOU MAKE ANY CLAIM WITH REGARD TO THE APPLICATION OR YOUR USE OF THE
    APPLICATION, SUCH CLAIM SHALL BE MADE AGAINST UPACE AND NOT AGAINST APPLE.</p><br/>
<p>No Medical Advice.</p><br/>

<p>UPACE DOES NOT MAKE ANY REPRESENTATIONS OR WARRANTIES REGARDING THE INFORMATION OR MATERIALS
    PRESENTED ON THIS APPLICATION. THE APPLICATION SHOULD NOT BE RELIED UPON OR SUBSTITUTED FOR
    MEDICAL ADVICE, TREATMENT OR DIAGNOSIS. PLEASE CONSULT YOUR PHYSICIAN BEFORE USING OR BEGINNING
    ANY EXERCISE PROGRAM OR TECHNIQUE. UPACE DOES NOT ADVISE THAT YOU SHOULD UNDERTAKE ANY
    PARTICULAR EXERCISE OR UTILIZE ANY PARTICULAR FACILITY PRESENTED ON THIS APPLICATION. UPACE
    SHALL NOT BE LIABLE AND YOU AGREE NOT TO HOLD UPACE LIABLE FOR ANY INJURY, HOWEVER CAUSED AND IN
    WHATEVER FORM, RELATED TO USE OF THE APPLICATION OR ANY FACILITY.</p><br/>

<p>RELIANCE ON ANY INFORMATION OR MATERIALS PRESENTED ON THIS APPLICATION IS SOLELY AT YOUR OWN
    RISK. YOU UNDERSTAND, ACKNOWLEDGE, AND AGREE THAT UPACE SHALL NOT BE LIABLE FOR ANY CLAIMS FOR
    INJURY, LOSS OR DAMAGES ARISING OUT OF OR CONNECTED WITH YOUR USE OF ANY FACILITY.</p><br/>

<p>YOU UNDERSTAND, ACKNOWLEDGE, AND AGREE THAT UPACE SHALL NOT BE LIABLE FOR ANY CLAIMS FOR INJURY,
    LOSS OR DAMAGES ARISING OUT OF OR RELATED TO YOUR USE OF THE APPLICATION AND/OR FACILITY
    INCLUDING, WITHOUT LIMITATION, TO DIRECT, COMPENSATORY, INDIRECT, SPECIAL, INCIDENTAL,
    CONSEQUENTIAL OR PUNITIVE DAMAGES. THE NEGATION AND LIMITATION OF DAMAGES SET FORTH IN THIS
    AGREEMENT ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN UPACE AND YOU. THIS SITE
    AND THE CONTENT THEREIN WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS. NO ADVICE OR
    INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US THROUGH THE SITE OR OTHERWISE
    SHALL CREATE ANY WARRANTY, REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED IN THIS
    AGREEMENT. </p><br/>

<p>YOU UNDERSTAND, ACKNOWLEDGE, AND AGREE THAT UPACE AND AFFILIATED PARTIES SHALL NOT BE LIABLE FOR
    ANY LOSS, INJURY, CLAIM, OR DAMAGE OF ANY KIND RESULTING IN ANY WAY FROM (A) ANY ERRORS IN OR
    OMISSIONS FROM THE SITE OR ANY SERVICES OR PRODUCTS OBTAINABLE THEREFROM, (B) THE UNAVAILABILITY
    OR INTERRUPTION OF THE APPLICATION AND/OR FACILITY OR ANY FEATURES THEREOF, (C) YOUR USE OF THE
    SITE AND/OR ACCOUNT INFORMATION INCLUDING USER/LOG IN NAME AND PASSWORD, (D) THE CONTENT
    CONTAINED ON THE SITE, OR (E) ANY DELAY OR FAILURE IN PERFORMANCE BEYOND THE CONTROL OF A
    COVERED PARTY. </p><br/>

<p><strong>INDEMNIFICATION</strong></p>

<p>You agree to defend, indemnify and hold harmless UPACE, its affiliates, and their respective
    employees, contractors, agents, officers, and directors from all liabilities, claims, and
    expenses (including reasonable attorneys' fees) that arise out of or are related to any User
    Content you submit, post, transmit or make available through the Application, your violation of
    this Agreement, or your violation of any third party rights.</p><br/>
<p><strong>CHOICE OF LAW AND JURISDICTION</strong></p>

<p>This Agreement shall be governed by the laws of the State of Florida without regard to the
    conflicts of laws rules of any jurisdiction. Every dispute concerning the interpretation or
    effect of this Agreement and/or your use of the Application must be resolved in the state or
    federal courts situated in the State of Florida. You agree to the personal jurisdiction, subject
    matter jurisdiction, and venue of these courts.</p><br/>
<p><strong>EQUITABLE RELIEF</strong></p>

<p>You acknowledge that any breach or threatened breach of this Agreement will result in irreparable
    harm for which damages would not be an adequate remedy, and, therefore, in addition to its
    rights and remedies otherwise available at law, UPACE shall be entitled to seek immediate
    equitable relief, including injunctive relief, as appropriate. If UPACE seeks any equitable
    remedies, it shall not be precluded or prevented from seeking remedies at law, nor shall it be
    deemed to have made an election of remedies.</p><br/>

<p><strong>ATTORNEYS' FEES</strong></p>

<p>In addition to any other relief, the prevailing party in any action arising out of this Agreement
    shall be entitled to actual and reasonable attorneys' fees and costs.</p><br/>
<p><strong>SEVERABILITY</strong></p>

<p>If any provision of this Agreement is held unenforceable or invalid under any applicable law or
    is so held by applicable court decision, such unenforceability or invalidity will not render
    this Agreement unenforceable or invalid as a whole, and such provision will be changed and
    interpreted so as to best accomplish the objectives of such unenforceable or invalid provision
    within the limits of applicable law or the applicable court decisions.</p><br/>
<p><strong>WAIVER</strong></p><br/>
<p>Any waiver by UPACE of a breach of any provision of this Agreement shall not operate as or be
    construed to be a waiver of any other breach of such provision or of any breach of any other
    provision of this Agreement. Any waiver must be in writing. Failure by UPACE to insist upon
    strict adherence to any term of this Agreement on one or more occasions shall not be considered
    a waiver or deprive UPACE of the right to insist upon strict adherence to that term or any other
    term of this Agreement.</p><br/>
<p><strong>TERMINATION</strong></p><br/>
<p>UPACE reserves the right, in its sole discretion, to terminate your access to all or part of the
    Application, with or without notice, for any reason or no reason, including without limitation
    your violation of this Agreement.</p><br/>
QUESTIONS
<p>If you have any questions about this Agreement, you can contact us at the following email
    address: <a href="mailto:info@upaceapp.com">info@upaceapp.com</a> and cc: Brian Harrison,
    Esquire at <a href="mailto:contactbrianharrison@gmail.com">contactbrianharrison@gmail.com</a>
</p>
